section {
    background-color: rgb(144, 144, 190);
    display: flex;
    justify-content: space-between;
}

section article {
    border: 1px solid black;
    flex-basis: 20%;
}

.text {
    flex: 1;
}

.form {
    flex: 1;
}

.aside {
    flex: 1;
}