* {
    margin: 0;
    padding: 0;
}

h2 {
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
}

.main-container {
    border: 1px solid black;
}


/*######################### HEADER #######################*/

header {
    align-items: baseline;
    position: sticky;
    top: 0;
    background-color: white;
}

.desplegable img {
    width: 3rem;
}

.logo-container {
    display: flex;
    margin-top: 2rem;
}

.logo {
    width: 5rem;
    height: 5rem;
    background-color: #FF431F;
}

nav {
    text-transform: uppercase;
    font-size: small;
    display: flex;
    justify-content: space-between;
}

.col-4 a {
    text-decoration: none;
    font-size: xx-large;
    color: #FF431F;
}

.phone {
    text-decoration: none;
    color: #FF431F;
    width: 20%;
}


/*######################### HOME #########################*/

#home {
    /* background-image: url("../img/fondo.jpg"); */
    background-size: cover;
    width: 100%;
    height: 850px;
    background: #2C4075;
    overflow: hidden;
}

#home img {
    object-fit: cover;
    opacity: 0.1;
}

#home article {
    width: 60%;
    float: right;
    color: white;
}

.formulari {
    width: 15rem;
    height: 15rem;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 5rem;
}

.form-container p {
    width: fit-content;
}

.RRSS {
    display: flex;
    flex-direction: column;
}


/*######################### ABOUT ########################*/

#about {
    justify-content: center;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 3rem;
}

.intro {
    margin-bottom: 1.5625rem;
}

.profile-container {
    justify-content: center;
    text-align: center;
    margin-bottom: 9.375rem;
}

span {
    color: #FF431F;
}

.profile-container img {
    border-radius: 50%;
    width: 15.625rem;
    height: auto;
}

.profile.mid {
    margin: 6.25rem 7.5rem 0 7.5rem;
}


/*######################### PROPERTIES ###################*/

#properties {
    background-image: url("../img/casa4.jpg");
    background-size: cover;
    width: 100%;
    height: 49.375rem;
    align-items: center;
}

#properties article {
    background-color: rgba(46, 49, 49, 0.9);
    width: 39.375rem;
    height: 26.875rem;
    color: white;
    margin-left: 25rem;
}

#properties h5 {
    text-transform: capitalize;
    color: #FF431F;
}

#properties h3 {
    text-transform: uppercase;
}

.properties {
    justify-content: center;
}

.description {
    justify-content: center;
    text-align: center;
    margin-top: 8.125rem;
    margin-bottom: 5.313rem;
}

.description h2 {
    margin-bottom: 3rem;
}

.house-container {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    margin-bottom: 7rem;
    justify-content: space-around;
}


/* FOTOS DE CASAS */

.text {
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
}

.stars {
    margin-left: 1rem;
}

.text h2 {
    color: #FF431F;
    flex: content;
    font-size: xx-large;
}

.house {
    max-height: 24.375rem;
    max-width: 21.875rem;
    border: 1px black;
    box-shadow: 5px 10px 18px #888888;
    margin-bottom: 4rem;
}

.foto img {
    height: 290px;
    width: 350px;
    margin-bottom: 1rem;
}

.checked {
    color: orange;
}


/*######################### CLIENTS ######################*/

#clients {
    justify-content: center;
    background-image: url("../img/casa1.jpg");
    background-size: cover;
    width: 100%;
    height: 18.75rem;
    color: white;
}

.custommer {
    justify-content: space-around;
    margin-bottom: 5rem;
}

.perfil {
    text-align: center;
}

.custommer img {
    border-radius: 50%;
    width: 11.25rem;
}


/*######################### ABOUT ########################*/

#contact {
    justify-content: space-around;
    margin-bottom: 7.5rem;
}

#contact form {
    background-color: #FF431F;
    width: 31.25rem;
    height: 18.75rem;
}

.credits {
    margin-bottom: 5.938rem;
}