@font-face {
    font-family: "Main title";
    src: url(./fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf) format("truetype");
}

body {
    background-color: rgb(58, 56, 54);
    height: 2000px;
    width: 700px;
    margin: auto;
}

main {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-flow: column;
}

h3,
h5 {
    text-transform: uppercase;
    font-family: "Main title";
}

span {
    color: #FF421F;
}


/*################################### HEADER ############################*/

header {
    display: flex;
}

header .logo {
    position: absolute;
    margin-top: 1em;
    margin-left: 7em;
    z-index: 10;
}

header .menu img {
    width: 20px;
    height: 20px;
}

header .logo img {
    width: 59px;
    height: 50px;
}

header a {
    text-decoration: none;
}

header ol {
    display: flex;
    justify-content: space-between;
    list-style-type: decimal-leading-zero;
    margin-left: 12em;
}


/*################################### SECCIÓ HOME ############################*/

#home {
    background-image: url("../img/fondo.jpg");
    background-size: cover;
    width: 100%;
    height: 350px;
    display: flex;
    /* Crea espais entre els elements flex que conté */
    align-items: center;
    /* Alinia el contingut de la secció verticalment */
    justify-content: space-between;
    color: white;
}

#home p {
    font-size: 7px;
}

.overlay {
    width: 700px;
    height: 350px;
    background-color: rgb(38 36 177 / 91%);
    position: absolute;
    z-index: 0;
}

article {
    z-index: 1;
}

#home .text {
    flex-basis: 30%;
    margin-left: 20%;
}

.form {
    text-transform: uppercase;
    flex-basis: content;
    background-color: rgb(175 188 255 / 19%);
    padding: 10px;
    border-radius: 10px;
}

.aside {
    margin-right: 5px;
}

#home a {
    text-transform: uppercase;
    font-size: small;
    background-color: #FF421F;
    border-radius: 30px;
    padding: 10px;
}

.aside ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#home img {
    height: 15px;
    width: 15px;
}


/*################################## SECCIÓ ABOUT ############################*/

#about {
    width: 100%;
    height: fit-content;
    background-color: white;
    display: flex;
    flex-flow: column;
}

#about .text {
    width: 50%;
    text-align: center;
    align-self: center;
}

#about .personas {
    display: flex;
    justify-content: center;
}

#about img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.p2 {
    margin-top: 80px;
}

figure {
    margin: 20px;
}


/*############################## SECCIÓ PROPERTIES ###########################*/

#properties {
    background-image: url("../img/casa2.jpg");
    background-size: cover;
    width: 100%;
    height: 350px;
}